$placeholder_color: #14171A57
$text_neutral_color: #202327
$border_color: #14171A24
$border_focus_color: #0066FF
$background_primary_color: #FFFFFF
$divider_color: #E2E8F0

.dropdown
    position: relative
    width: 100%
    user-select: none
    font-size: 16px
    color: $text_neutral_color

    .dropdown_button
        display: flex
        align-items: center
        width: calc(100% - 32px)
        height: 42px
        padding: 0 15px
        border-radius: 12px
        flex-shrink: 0
        border: 1px solid $border_color
        transition: all .15s ease-out

        .label
            width: calc(100% - 16px)
            display: -webkit-box
            -webkit-line-clamp: 1
            -webkit-box-orient: vertical
            overflow: hidden

        &.not_selected
            color: $placeholder_color

        &.active
            border-radius: 12px 12px 0 0
            border: 1px solid $border_focus_color

            .arrow
                svg
                    transform: rotate(180deg)

        .arrow
            position: absolute
            right: 15px
            width: 16px
            height: 16px

            svg
                width: 100%
                height: 100%
                transition: all .20s ease-out

    .dropdown_container
        position: absolute
        z-index: 5
        top: 42px
        left: 0
        display: flex
        flex-direction: column
        width: 100%
        border-radius: 0 0 12px 12px
        max-height: 0
        overflow: hidden
        background-color: $background_primary_color

        &.active
            border: 1px solid $border_focus_color
            width: calc(100% - 2px)
            max-height: 216px

        .dropdown_list
            width: 100%
            max-height: 216px
            height: max-content
            display: flex
            flex-direction: column
            overflow-y: auto
            transform: translateY(0)

            .dropdown_item
                display: flex
                align-items: center
                justify-content: space-between
                flex-shrink: 0
                height: 48px
                width: calc(100% - 32px)
                padding: 0 16px
                color: $placeholder_color
                cursor: pointer

                &.active
                    color: $text_neutral_color

            .search_input
                width: calc(100% - 24px)
                padding: 12px
                border-bottom: 1px solid $divider_color
