$background_secondary_color: #F5F5F5
$background_primary_color: #FFFFFF
$text_primary_color: #000000
$text_secondary_color: #939393
$text_neutral_color: #202327
$text_action_alternative_color: #7B61FF
$text_neutral_description_color: #8496AE
$hover_color: #2023270F
$separator_color: #CBD5E0
$system_error_color: #FF3B30
$border_neutral_color: #E2E8F0

.container
    display: flex
    gap: 8px
    padding: 8px
    width: calc(100vw - 16px)
    height: calc(100vh - 16px)
    background-color: $background_secondary_color

    .navigation
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 164px
        padding-top: 12px
        padding-bottom: 24px
        flex-shrink: 0
        transition: all .2s ease-out

        &.minimized
            width: 64px

            .nav_item_container
                .nav_item
                    padding: 6px
                    width: 24px

        .part
            display: flex
            flex-direction: column
            height: 33%

            &.bottom
                gap: 24px
                padding: 0 8px
                justify-content: end

        .logo
            height: 64px
            width: auto

        nav
            display: flex
            flex-direction: column
            justify-content: center
            gap: 24px
            padding: 0 8px
            flex-grow: 1

        .nav_item_container
            position: relative

            .nav_item
                display: flex
                padding: 6px 12px
                gap: 12px
                align-items: center
                font-size: 14px
                font-weight: 400
                color: $text_primary_color
                cursor: pointer
                border-radius: 6px
                background-color: $background_secondary_color
                transition: all .2s ease-out

                &.active
                    font-weight: 700

                &.logout
                    color: $system_error_color

                &.minimize
                    img
                        &.minimized
                            rotate: 180deg

                img
                    width: 24px
                    height: auto

            .hidden
                position: absolute
                z-index: 1
                left: calc(100% + 14px)
                top: 0
                display: flex
                align-items: center
                height: 36px
                border-radius: 6px
                padding: 0 12px
                font-size: 14px
                color: $background_primary_color
                background-color: $text_neutral_color
                opacity: 0
                transition: all .1s ease-out

        .separator
            width: 100%
            height: 0px
            border: 1px dashed $separator_color
            flex-shrink: 0

    .content
        display: flex
        flex-direction: column
        gap: 24px
        flex-grow: 1
        padding: 8px

        .content_container_multi
            display: flex
            gap: 20px

        .content_container
            padding: 24px
            background-color: $background_primary_color
            border-radius: 24px
            box-shadow: 0px 4px 16px -1px rgba(20, 23, 26, 0.04)

            &.half
                width: calc(50% - 58px)
                height: max-content
                flex-shrink: 0

            .content_container_head
                display: flex
                align-items: center
                justify-content: space-between

                .head_title
                    display: flex
                    align-items: center
                    gap: 4px

                    .count
                        font-size: 20px
                        color: $text_secondary_color
                        font-weight: 700

                .head_action
                    cursor: pointer
                    font-size: 16px
                    color: $text_action_alternative_color

        .main_header
            display: flex
            gap: 20px
            align-items: center
            justify-content: space-between

            .main_univ_info
                display: flex
                gap: 24px

                .main_logo
                    position: relative
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-shrink: 0
                    height: 64px
                    width: 64px
                    overflow: hidden

                    img
                        height: 100%
                        aspect-ratio: 1
                        border-radius: 100px

                    .main_award
                        position: absolute
                        z-index: 1
                        bottom: 0
                        right: 0
                        display: flex
                        align-items: center
                        justify-content: center
                        flex-shrink: 0
                        height: 24px
                        width: 24px
                        border-radius: 50px
                        background-color: $background_primary_color

                        img
                            height: 16px
                            aspect-ratio: 1

                .main_univ_name
                    display: flex

            .main_socials
                display: flex
                justify-content: end
                flex-shrink: 0
                gap: 20px

                .main_socials_item
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    height: 68px
                    width: 131px
                    border-radius: 8px
                    background-color: $background_secondary_color

                    .item_value
                        font-size: 18px
                        color: $text_primary_color

                    .item_label
                        font-size: 14px
                        color: $text_secondary_color

        .main_about,
        .main_gallery,
        .main_buklets
            display: flex
            flex-direction: column
            gap: 20px

            .empty_info
                display: flex
                flex-direction: column
                gap: 20px

                .empty_message
                    font-size: 16px
                    color: $text_primary_color

                button
                    align-self: center
                    padding: 0 20px

        .main_about
            .empty_info
                button
                    margin-top: 16px

            .main_about_container
                display: flex
                justify-content: space-between
                gap: 32px

                .main_about_part
                    display: flex
                    flex-direction: column
                    gap: 16px
                    width: calc(50% - 33px)

                    .part_title
                        font-size: 16px
                        color: $text_primary_color
                        font-weight: 600

                    .part_container
                        display: flex
                        flex-direction: column
                        gap: 12px

                        .part_item
                            display: flex
                            flex-direction: column
                            gap: 4px

                            .part_item_label
                                font-size: 12px
                                color: $text_secondary_color

                            .part_item_value
                                font-size: 16px
                                color: $text_primary_color

                        .part_item_double
                            display: flex

                            .part_item
                                width: 50%
                
                .main_about_separator
                    height: auto
                    width: 0px
                    border-left: 1px dashed $border_neutral_color

                .main_about_part_multi                    
                    display: flex
                    flex-direction: column
                    gap: 24px
                    width: calc(50% - 33px)

                    .main_about_part
                        width: 100%

                    .main_part_separator
                        height: 0px
                        width: 100%
                        border-top: 1px dashed $border_neutral_color

        .main_gallery,
        .main_buklets
            button
                width: max-content
                align-self: center
                padding: 0 20px

        .main_gallery
            .main_gallery_container
                display: flex
                flex-wrap: wrap
                gap: 12px

                .main_gallery_item
                    display: flex
                    width: calc(33% - 10px)

                    img
                        width: 100%
                        height: auto

        .main_buklets
            .main_buklets_container
                display: flex
                flex-wrap: wrap
                gap: 12px

                .main_buklet_item
                    display: flex
                    flex-direction: column
                    width: calc(50% - 8px)
                    overflow: hidden
                    border-radius: 8px
                    border: 1px solid $border_neutral_color

                    img
                        width: 100%
                        height: auto

                    .main_buklet_info
                        display: flex
                        flex-direction: column
                        gap: 4px
                        padding: 12px

                        .buklet_name
                            font-size: 16px
                            color: $text_neutral_color
                            font-weight: 600

                        .buklet_description
                            font-size: 12px
                            color: $text_neutral_description_color
                            display: -webkit-box
                            -webkit-line-clamp: 2
                            -webkit-box-orient: vertical
                            overflow: hidden

@media (hover: hover)
    .container
        .navigation
            .nav_item_container
                .nav_item
                    &:hover
                        background-color: $hover_color

            &.minimized
                .nav_item_container
                    .nav_item
                        &:hover
                            +.hidden
                                opacity: 1
