$placeholder_color: #8496AE
$text_neutral_color: #202327
$border_color: #CBD5E0
$background_primary_color: #FFFFFF
$background_hover_color: #00000010
$text_primary_color: #14171A
$text_end_week_color: #D92D20

.calendar_container
  width: 100%
  position: relative

  .input_field
    width: 100%
    position: relative

    input
      transition: all .15s ease-out

      &.active
        border-radius: 12px 12px 0 12px

    .calendar_button
      position: absolute
      z-index: 1
      right: 12px
      top: 50%
      transform: translateY(-50%)
      width: 16px
      height: 16px
      cursor: pointer

      svg
        width: 100%
        height: auto

  .calendar
    position: absolute
    z-index: 5
    top: 49px
    right: -2px
    display: flex
    flex-direction: column
    border-radius: 0 0 12px 12px
    max-height: 0
    overflow: hidden
    background-color: $background_primary_color

    &.active
      max-height: 10000px
      flex-shrink: 0
      border: 1px solid $border_color

    .mode_selector
      display: flex
      justify-content: space-between
      padding: 8px 8px 0

      .selector
        display: flex
        align-items: center
        gap: 8px
        height: 28px
        padding: 8px 16px
        font-size: 16px
        font-weight: 600
        cursor: pointer
        border-radius: 8px
        transition: all .2s ease-out

        svg
          width: 20px
          height: auto

      .selector_buttons
        display: flex

        .selector_button
          display: flex
          width: 44px
          height: 44px
          justify-content: center
          align-items: center
          cursor: pointer
          border-radius: 8px
          transition: all .2s ease-out

          svg
            width: 20px
            height: auto

          &.prev_button
            transform: rotate(90deg)

          &.next_button
            transform: rotate(-90deg)

    .day_selector
      display: flex
      flex-direction: column
      padding: 8px

      .header
        display: flex

        .header_item
          display: flex
          width: 44px
          height: 44px
          justify-content: center
          align-items: center
          font-size: 16px

      .days_rows
        display: flex
        flex-direction: column
        gap: 2px

        .days_row
          display: flex

          .day_item
            display: flex
            flex-direction: column
            width: 44px
            height: 44px
            justify-content: center
            align-items: center
            cursor: pointer
            border-radius: 8px
            transition: all .2s ease-out

            h4
              font-size: 16px

              &.active
                margin-top: 6px

            .marker
              width: 6px
              height: 6px
              border-radius: 10px
              background-color: $text_primary_color

            &.end_week
              .marker
                background-color: $text_end_week_color

      .end_week
        color: $text_end_week_color



@media (hover: hover)
  .calendar_container
    .calendar
      .mode_selector
        .selector
          &:hover
            background-color: $background_hover_color

        .selector_buttons
          .selector_button
            &:hover
              background-color: $background_hover_color

      .day_selector
        .days_rows
          .days_row
            .day_item
              &:hover
                background-color: $background_hover_color